HOST: http://nas.hostgator.com/


--- NAS Monitor API v1 ---
---
A RESTful API to be used with the NAS monitor and other scripts related to the NAS backup service.
---

-- Servers --


List all servers
GET /servers
> Accept: application/json
< 200
< Content-Type: application/json
{ "servers":[
  { "url": "/servers/samco", "hostname": "samco.websitewelcome.com", "nasAssignment": "nas715.hostgator.com", "lastBackup": "7/29/13 14:00:02", "backupStatus": "Completed", "pctComplete": 100 },
  { "url": "/servers/gator3000", "hostname": "gator3000.hostgator.com", "nasAssignment": "nas905.hostgator.com", "lastBackup": "7/30/13 1:03:47", "backupStatus": "In Progress", "pctComplete": 65 }
]  }

Add a new server to the list.
POST /servers/new
> Accept: aplication/json
< 201
< Content-Type: application/json
< Location: http://nas.hostgator.com/servers/gator3010
{ "hostname": "gator3010.hostgator.com", "nasAssignment": "nas900.hostgator.com" }

Display a specific server
GET /servers/{hostname}
> Accept: application/json
< 200
< Content-Type: application/json
{ "hostname": "samco.websitewelcome.com", "nasAssignment": "nas715.hostgator.com", "lastBackup": "7/29/13 14:00:02", "backupStatus": "Completed", "pctComplete": 100 }

Partially update a specific server
PATCH /servers/{hostname}
> Accept: application/json
{ "hostname": "samco.websitewelcome.com", "nasAssignment": "nas715.hostgator.com" }
< 200
< Content-Type: application/json
{ "hostname": "samco.websitewelcome.com", "nasAssignment": "nas715.hostgator.com", "lastBackup": "7/29/13 14:00:02", "backupStatus": "Completed", "pctComplete": 100 }

Delete a specific server
DELETE /servers/{hostname}
> Accept: application/json
< 204
{ "status": 204, "message": "Successfully Deleted" }

-- Logs --

Retreive all logs for a server
GET /servers/{hostname}/logs
> Accept: application/json
< 200
< Content-Type: application/json
{ "logs": [
  {"logTime": "7/29/13 14:00:02", "logLevel": "INFO", "logMsg": "Backups completed successfully"},
  {"logTime": "7/29/13 13:34:18", "logLevel": "WARN", "logMsg": "User 'testguy' skipped due to .skip_next_hg_backup file"},
  {"logTime": "7/29/13 13:03:55", "logLevel": "INFO", "logMsg": "Databases backed up successfully"}
] }

Add a new log entry
POST /servers/{hostname}/logs
> Accept: application/json
{ "logTime": "7/29/13 14:04:26", "logLevel": "INFO", "logMsg": "Status Updated" }
< 201
< Content-Type: application/json
< Location: http://nas.hostgator.com/servers/samco/logs
{ "status": 201, "msg": "logged"}

-- Nas --

List all NAS boxes and wich servers are assigned to them
GET /nas
> Accept: application/json
< 200
< Content-Type: application/json
{ "nas":[
  { "url": "/nas/nas715", "hostname": "nas715.hostgator.com", "assigned":[
    { "samco": "/home" },
    { "gator1546": "/home" }, 
    { "gator63": "/home2" } 
    ] },
  { "url": "/nas/nas901", "hostname": "nas901.hostgator.com", "assigned":[
    { "evo": "/home" },
    { "vps822": "/home2" }
    ] },
]  }


